{extend name="pub/base" /}
{block name="content"}
<div class="x-body">
    <form class="layui-form" action="{:url('update')}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{$book.id}" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>书名
            </label>
            <div class="layui-input-inline">
                <input type="text" value="{$book.book_name}" name="book_name" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>标签
            </label>
            <div class="layui-input-inline">
                <input type="text" value="{$book.tag}" name="tag" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>小标签
            </label>
            <div class="layui-input-inline">
                <input type="text" value="{$book.tag2}" name="tag2" required="" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                作者
            </label>
            <div class="layui-input-inline">
                <input type="text" value="{$book.author.author_name}" name="author" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-inline">
                <input type="file" name="cover" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                简介
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" name="summary" class="layui-textarea">{$book.summary}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                状态
            </label>
            <div class="layui-input-inline">
                <select name="end" class="valid">
                    <option value="-1" {$book.end == -1 ? "selected":""}>连载中</option>
                    <option value="1" {$book.end == 1 ? "selected":""}>已完结</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                性别
            </label>
            <div class="layui-input-inline">
                <select name="gender" class="valid">
                    <option value="female" {$book.gender == "female" ? "selected":""}>女性</option>
                    <option value="male" {$book.gender == "male" ? "selected":""}>男性</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                采集源
            </label>
            <div class="layui-input-inline">
                <input type="text" name="src" autocomplete="off" class="layui-input" value="{$book.src}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="submit" class="layui-btn" value="保存">
        </div>
    </form>
</div>
{/block}