{extend name="pub/base" /}
{block name="content"}
<div class="x-body">
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加书籍','{:url("create")}')"><i class="layui-icon"></i>添加
        </button>
        <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>书名</th>
            <th>封面</th>
            <th>作者</th>
            <th>总章节数</th>
            <th>最新章节</th>
            <th>是否完结</th>
            <th>操作</th>
        </thead>
        <tbody>
        {volist name="books" id="vo"}
        <tr class="text-c">
            <td>{$vo.id}</td>
            <td>{$vo.book_name}</td>
            <td>
                <img width="33%" class="picture-thumb" src="/static/upload/book/{$vo.id}/cover.jpg">
            </td>
            <td>
                <a href="{:url('authors/search',['author_name' => $vo.author.author_name])}">{$vo.author.author_name}</a>
            </td>
            <td>{$vo.chapter_count}</td>
            <td>{$vo.last_chapter}</td>
            <td>{$vo.end == 1?"完结":"连载中"}</td>
            <td class="td-manage">
                <a onclick="x_admin_show('{$vo.book_name}-章节管理','{:url("chapters/index",["book_id" => $vo.id])}')">
                    <i class="layui-icon">&#xe601;</i>
                </a>
                <a title="编辑"  onclick="x_admin_show('编辑','edit?id={$vo.id}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="del('{:url("books/delete",["id"=>$vo.id])}')" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page">
        <div>
            {$books|raw}
        </div>
    </div>
</div>
    {/block}