<div id="global_menu_body" >
    <div class="header" style="border-bottom: solid 1px #efefef">
        <div class="left">
        </div>
        <span class="J_PageName">菜单</span>
        <div class="right">
            <a id="list_close_btn"><i class="iconfont icon-close"></i></a>
        </div>
    </div>
    <div class="bg-white">
        <ul id="index_menu">
            <li>
                <a class="menu-icon-home" href="/">
                    <i class="iconfont icon-shouye"></i>
                </a>
                <p>首页</p>
            </li>
            <li>
                <a class="menu-icon-fenlei" href="{:url('tags/taglist')}">
                    <i class="iconfont icon-fenlei"></i>
                </a>
                <p>分类</p>
            </li>
            <li>
                <a class="menu-icon-paihang" href="{:url('rank/index')}">
                    <i class="iconfont icon-paihang"></i>
                </a>
                <p>排行</p>
            </li>
            <li>
                <a class="menu-icon-wanben" href="/index/tags/index?order=last_time&end=1">
                    <i class="iconfont icon-wanben"></i>
                </a>
                <p>完本</p>
            </li>
            <li>
                <a class="menu-icon-vip" href="#">
                    <i class="iconfont icon-vip-zhuanqu"></i>
                </a>
                <p>VIP专区</p>
            </li>
            <li>
                <a class="menu-icon-usercenter" href="#">
                    <i class="iconfont icon-user-center"></i>
                </a>
                <p>个人中心</p>
            </li>
        </ul>
        <div class="text-center" style="padding: 0.26625rem 0 0.5325rem 0;">
            <a class="btn btn-primary btn-large" style="width: 80%" href="{:url('index/bookshelf')}">我的书架</a>
        </div>
    </div>
</div>