<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 36px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {block name="seo"}{/block}
    <link rel="shortcut icon" href="/static/images/ShuDan_Icon_32_R.png">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mstyle.css">
    <link rel="stylesheet" type="text/css" href="/static/css/grid.css">
    {block name="css"}{/block}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/flexible.js"></script>
    <script src="/static/js/jquery.uiAlertView-1.0.0.js"></script>
    <script src="/static/js/base.js"></script>
</head>
<body style="font-size: 12px;">
<div id="global_search_body">
    <form id="search_header" method="get" target="_self" action="{:url('index/search')}">
        <div class="left" style="width: 80%">
            <div class="search-wrap center">
                <input class="input" type="text" name="keyword" id="search_book_input" value="" placeholder="输入你感兴趣的作者作品">
                <a class="search"><i class="iconfont icon-sousuo"></i></a>
            </div>
        </div>
        <div class="right" style="top:0.37274999999999997rem;">
            <a id="search_close_btn">取消</a>
        </div>
    </form>
</div>
{include file="pub/m_menu" /}
<div id="header">
    <div class="left">
        <a id="prev_btn" href="javascript:history.back();"><i class="iconfont icon-arrow-left"></i></a>
    </div>
    <span>{$header_title}</span>
    <div class="right">
        <a href="javascript:;" id="search_btn"><i class="iconfont icon-sousuo"></i></a>
        <a href="javascript:;" id="list_btn"><i class="iconfont icon-menu"></i></a>
    </div>
</div>
{block name="content"}{/block}
</body>
</html>