{extend name="pub/mbase" /}
{block name="seo"}
<title>小说分类-{$site_name}</title>
{/block}
{block name="css"}
<style>
    #filter_body {
        display: none;
        position: absolute;
        top: 2.6625rem;
        left: 0;
        width: 100%;
    }

    #filter_table {
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
        border: solid 1px #e6e6e6;
        border-radius: 0.18637499999999999rem;
    }

    #filter_table tr:not(:last-child) td {
        border-bottom: solid 1px #e6e6e6;
    }

    #filter_table tr:first-child td:first-child {
        border-radius: 0.18637499999999999rem 0 0 0;
    }

    #filter_table .title {
        width: 20%;
        text-align: center;
        vertical-align: middle;
        font-size: 0.399375rem;
        color: #666;
        background: #f4f2f2;
    }

    #filter_table .selection {
        padding: 0.5325rem 0.26625rem 0.26625rem 0.26625rem;
    }

    #filter_table .selection button {
        display: inline-block;
        height: 0.505875rem;
        line-height: 0.47925rem;
        border-radius: 0.2529375rem;;
        padding: 0 0.3195rem;
        color: black;
        font-size: 0.3195rem;
        margin-right: 0.26625rem;
        margin-bottom: 0.26625rem;
    }

    #filter_table .selection button.active {
        background: #fa7298;
        color: #fff;
        border: none;
    }

    #filter_table .selection input[type="radio"] {
        display: none;
    }

    #submit_btn {
        display: block;
        width: 100%;
        height: 1.01175rem;
        line-height: 1.01175rem;
        text-align: center;
    }

    #J_BookList {
        min-height: 15rem;
    }
</style>
{/block}
{block name="content"}
<div id="sub_category_body" class="bg-gray before-banner-footer" style="padding-top:0.3195rem;">
    <div class="btns-bar">
        <div class="button"></div>
    </div>
    <div id="J_BookList" class="container">
        <ul class="book-list book-list-vetical">
            {volist name="books" id="vo"}
            <li>
                <a href="{:url('books/index',['id'=>$vo.id])}">
                    <span class="thumb">
                         <img data-original="/static/upload/book/{$vo.id}/cover.jpg"
                              src="https://s1.ax1x.com/2018/12/13/FN8WLQ.jpg" alt="{$vo.book_name}" class="lazyload cover" style="">
                    </span>
                    <div class="info"><span class="title">{$vo.book_name}</span>
                        <div class="author">{$vo.author.author_name}</div>
                        <div class="summaries">
                            {$vo.summary}
                        </div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
        <div class="page">
            {$books|raw}
        </div>
    </div>
</div>
<div id="filter_body" class="bg-gray" style="padding-top: 0.3195rem; display: none;">
    <div class="container" style="padding: 0.26625rem;">
        <table id="filter_table">
            <tbody>
            <tr>
                <td class="title">分类</td>
                <td class="selection J_Filter" id="tag_select">
                    <button onclick="changeActive(this);">全部</button>
                    {volist name="tags" id="vo"}
                    <button class="{$vo.active==1?'active':''}" value="{$vo.tag_name}" onclick="changeActive(this);">
                        {$vo.tag_name}
                    </button>
                    {/volist}
                </td>
            </tr>
            <tr>
                <td class="title">排序</td>
                <td class="selection J_Filter" id="order">
                    <button class="{$order=='click'?'active':''}" value="click" onclick="changeActive(this);">
                        人气
                    </button>
                    <button class="{$order=='last_time'?'active':''}" value="last_time" onclick="changeActive(this);">
                        更新时间
                    </button>
                </td>
            </tr>
            <tr>
                <td class="title">状态</td>
                <td class="selection J_Filter" id="end_select">
                    <button onclick="changeActive(this);">
                        不限
                    </button>
                    <button class="$end=='1'?'active':''}" value="1" onclick="changeActive(this);">已完结</button>
                    <button class="$end=='-1'?'active':''}" value="-1" onclick="changeActive(this);">连载中</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a id="submit_btn" class="text-primary J_Submit" onclick="jump();">完成</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/dropload.min.js"></script>
<script>
    function changeActive(obj) {
        $(obj).addClass("active").siblings("button").removeClass("active");
    }
    function jump() {
        var tag = $('#tag_select button.active').val()==undefined?'':$('#tag_select button.active').val();
        var order = $('#order button.active').val();
        var end = $('#end_select button.active').val()==undefined?'':$('#end_select button.active').val();
        location.href = "/index/tags/index?tag=" + tag + "&order=" + order + "&end=" + end;
    }
</script>
<script>
    $(function () {
        $(".btns-bar .button").click(function () {
            toggleFilterPanel();
        });
    });

    function toggleFilterPanel() {
        if ($("#filter_body").is(":hidden")) {
            $("#filter_body").show();
            //如果需要隐藏2级分类，不要注释掉下面语句
            //$("#sub_category_body").hide();
        }
        else {
            $("#filter_body").hide();
            //$("#sub_category_body").show();
        }
    }
</script>
{include file="pub/lazyload" /}
{/block}